body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: white;
}

#battle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  background: #1c1c1c;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  width: 160px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  background: #e6002d;
}

.vs {
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}
