* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ff4e50, #f9d423);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255,255,255,0.95);
  width: 340px;
  padding: 30px;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.container h1 {
  font-size: 26px;
  color: #e6005c;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.buttons a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px;
  margin: 12px 0;
  border-radius: 14px;
  font-weight: 600;
  transition: 0.3s;
}

/* Warna tombol */
.buttons a:nth-child(1) { background: #ff0000; } /* YouTube */
.buttons a:nth-child(2) { background: #E1306C; } /* Instagram */
.buttons a:nth-child(3) { background: #000000; } /* TikTok */
.buttons a:nth-child(4) { background: #5865F2; } /* Discord */

.buttons a:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

footer {
  margin-top: 25px;
  font-size: 11px;
  color: #888;
}
